* {
  margin: 0;
  /* max-width: 100%; */
  /* max-width: 2560px; */
  /* text-align: center; */
  max-width: 2560px;
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
}
.sticky-wrap {
  background-color: black;
  color: white;
  width: 150px;
  height: 50px;
  position: fixed;
  right: 0px;
  top: 35%;
  z-index: 100;
  /* text-decoration: underline; */
  font-size: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.window-treatments-section {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
}

.promo-banner {
  background-color: #ede8d0;

  width: 100%;
  min-height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0 200px; */
  color: #000;
  text-align: center;
  text-transform: uppercase;
  /* font: 500 14px/32px Montserrat, sans-serif; */
  font-family: "montserrat";
}

.promo-text {
  width: 100%;
  max-width: 100vw;
}

.logo-container {
  align-self: flex-end;
  z-index: 10;
  display: flex;
  align-items: center;
  /* margin: -32px 447px 0 0; */
}

.logo {
  aspect-ratio: 0.16;
  object-fit: contain;
  width: 5px;
  margin-left: 10px;
}

.hero-image {
  /* aspect-ratio: 11.11; */
  object-fit: contain;
  width: 100%;
}

.hero-content {
  display: flex;
  /* margin-top: 32px; */
  width: 100%;
  /* height: 100vh; */
  /* max-width: 1305px; */
  flex-direction: column;
  overflow: hidden;
  font-family: Alexandria, sans-serif;
  color: #fff;
  font-weight: 500;
  text-align: center;
  margin-top: 2rem;
}

.hero-text-1 {
  color: black;
  font-weight: 600;
  font-size: 2rem;
  font-family: "Merriweather";
}
.hero-text-2 {
  color: black;
  font-weight: 100;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Montserrat";
}
.carousel-item img {
  height: 500px; /* Adjust as needed */
  object-fit: cover;
  width: 100%;
}

.hero-overlay {
  display: flex;
  min-height: 700px;
  flex-direction: column;
  justify-content: center;
  padding: 213px 200px;
}

.hero-text-container {
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  min-height: 274px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 10px 0 22px;
}

.hero-heading {
  max-width: 950px;
  width: 450px;
  font-size: 32px;
  text-transform: uppercase;
  padding: 25px 80px 14px;
}

.hero-subheading {
  width: 950px;
  margin-top: 20px;
  font-size: 20px;
  padding: -8px 70px 26px;
}

.main-title {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  /* max-width: 1309px; */
  color: #000;
  text-align: center;
  text-transform: capitalize;
  font-weight: 300;
  /* font: 400 36px Alexandria, sans-serif; */
  font-family: "Montserrat";
}

.products-title {
  margin-bottom: 50px;
  width: 100%;
  /* margin-top: -4px; */
  color: #000;
  text-align: center;
  font: 300 40px Alexandria, sans-serif !important;
}

.product-showcase {
  position: relative;
  min-height: 707px;
  margin-top: 59px;
  width: 1309px;
  max-width: 100%;
  overflow: hidden;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font: 400 40px/0.7 Alexandria, sans-serif;
}

.product-image {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product-overlay {
  position: relative;
  background-color: rgba(40, 37, 37, 0.6);
  display: flex;
  min-height: 707px;
  align-items: center;
  justify-content: center;
  padding: 336px 67px;
}

.product-name {
  width: 230px;
  padding: 0 22px;
}

.tagline {
  color: #000;
  text-align: center;
  text-transform: capitalize;

  font-weight: 300;
  /* font: 300 30px/2 "Amiri Quran", sans-serif; */
  font-family: "Montserrat";
}
.tagline-text {
  color: black;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  font-family: "Merriweather";
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.image-grid {
  margin-top: 20px;
  width: 94%;
  margin: auto;
  /* margin-left: 100px;
  margin-right: 100px;
  max-width: 1309px; */
  /* max-width: ; */
}

.image-row {
  gap: 20px;
  display: flex;
  margin-top: 1.3rem;
}

.image-column {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.grid-image {
  aspect-ratio: 1.07;
  object-fit: cover;
  width: 100%;
  flex-grow: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.grid-image:hover {
  transform: scale(1.05);
}
.separator {
  min-height: 7px;
  margin-top: 77px;
  width: 100%;
}

.footer {
  background-color: #000000;
  width: 100%;
  color: #fff;
  text-align: center;
  /* padding: 2rem; */
  padding: 2rem 2rem 0rem 2rem;

  font: 24px Alexandria, sans-serif;
}

.footer-content {
  display: flex;
  /* margin-bottom: -29px; */
  width: 100%;
  justify-content: center;
  gap: 2rem;
  /* max-width: 1239px; */
  /* padding: 0px 100px; */
  /* align-items: start; */

  /* gap: 20px; */
  /* justify-content: space-between; */
}

.footer-logo-container {
  display: flex;
  /* min-height: 94px; */
  flex-direction: column;
  font-size: 10px;
  font-weight: 400;
}

.footer-logo {
  aspect-ratio: 1.77;
  object-fit: contain;
  width: 124px;
}

.footer-brand {
  align-self: center;
  font-family: "montserrat";
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "montserrat";
}

.footer-heading {
  font-weight: 500;
  align-self: start;
}

.footer-text {
  font-weight: 300;
  margin-top: 10px;
  font-size: 16px;
}
.footer-text a {
  color: white;
  text-decoration: none; /* Remove underline if needed */
}
.copyright {
  text-align: center;
  margin-top: 1rem;
  font-size: 12px;
  font-family: "montserrat";
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* header */

.header-footer {
  background-color: #000000;
  padding: 10px 40px;
  /* text-align: center; */
  width: 100%;
}

.header-divider {
  background-color: #fff;
  display: flex;
  margin-top: 7px;
  flex-shrink: 0;
  height: 1px;
}

.header-footer-content {
  display: flex;
  flex-direction: row;
  margin-top: 13px;
  width: 100%;
  max-width: 2600px;
  /* align-items: stretch; */
  gap: 10%;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  align-items: center;
  /* background-color: blue; */
}

.header-logo-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  font-size: 10px;
  color: #fff;
  font-weight: 400;
  text-align: left;
  justify-content: start;
}

.header-logo-image {
  aspect-ratio: 1.63;
  object-fit: contain;
  object-position: center;
  width: 114px;
}

.header-logo-text {
  align-self: center;
  gap: 10px;
  margin: 0;
  font-family: "montserrat";
}

.header-nav-container {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  align-items: stretch;
  gap: 40px 100px;
  flex-wrap: wrap;
}

.header-brand-name {
  align-self: stretch;
  gap: 10px;
  font-family: "Merriweather";
  font-size: 31px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  margin-left: 6rem;
}

.header-nav-links {
  margin-top: auto;
  margin-bottom: auto;
  font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
}

.header-nav-items {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 36px;
  justify-content: center;
}

.header-contact-link {
  align-self: stretch;
  margin-top: auto;
  margin-bottom: auto;
  /* width: px; */
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  font-family: "Montserrat";
}

.header-social-link {
  text-decoration: none;
}

.header-social-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 22px;
  align-self: stretch;
  margin-top: auto;
  margin-bottom: auto;
  flex-shrink: 0;
}

/* body carsouel css */
.carosouel-blinds-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.carosouel-image-grid {
  width: 100%;
}

.carosouel-image-row {
  gap: 20px;
  display: flex;
}

.carosouel-image-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  line-height: normal;
  width: 50%;
}

.carosouel-image-column:last-child {
  margin-left: 20px;
}

/* .carosouel-product-image {
  aspect-ratio: 0.93;
  object-fit: contain;
  object-position: center;
  width: 100%;
  flex-grow: 1;
} */

.carosouel-section-header {
  align-self: center;
  display: flex;
  /* margin-top: 96px; */
  margin-top: 5rem;
  margin-bottom: 5rem;
  min-height: 36px;
  width: 230px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carosouel-section-title {
  font-family: "Montserrat";
  font-size: 40px;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  line-height: 0.7;
  width: 100%;
  padding: 0 22px;
}

@media (max-width: 991px) {
  .carosouel-image-grid {
    max-width: 100%;
  }

  .carosouel-image-row {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .carosouel-image-column {
    width: 100%;
    margin-left: 0 !important;
  }

  .carosouel-product-image {
    max-width: 100%;
    margin-top: 40px;
  }

  .carosouel-section-header {
    margin-top: 40px;
  }

  .carosouel-section-title {
    padding: 0 20px;
    white-space: normal;
  }
}
/* /////////// */
.image-slider {
  width: 80%; /* Reduce width of the image slider */
  max-width: 500px; /* Set a max width */
  height: auto; /* Maintain aspect ratio */
  position: relative;
  overflow: hidden;
}

.image-slider img {
  width: 100%; /* Ensures images scale properly */
  height: 100%; /* Maintain aspect ratio */
  /* min-height: 700px; Adjust height as needed */
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: slide 9s infinite;
}

.carosouel-product-image {
  max-width: 80%; /* Reduce overall image size */
  height: auto; /* Maintain aspect ratio */
  aspect-ratio: 1; /* Ensure square ratio if needed */
  object-fit: contain;
}

.image-slider img:nth-child(1) {
  animation-delay: 0s;
}

.image-slider img:nth-child(2) {
  animation-delay: 3s;
}

.image-slider img:nth-child(3) {
  animation-delay: 6s;
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.carosouel-section-header {
  position: relative;
}

.carosouel-section-title {
  position: absolute;
  opacity: 0;
  animation: textCycle 9s infinite;
}

/* Keyframes to cycle through the texts */
@keyframes textCycle {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  38.33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Specific delay for each text */
.carosouel-section-title:nth-child(1) {
  animation-delay: 0s;
}

.carosouel-section-title:nth-child(2) {
  animation-delay: 3s;
}

.carosouel-section-title:nth-child(3) {
  animation-delay: 6s;
}

@media (max-width: 991px) {
  .header-footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* .header-divider,
  .header-footer-content,
  .header-nav-container {
    max-width: 100%;
  } */
}

/* header */

@media (max-width: 2060) {
  * {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .window-treatments-section {
    max-width: 100%;
  }

  .promo-banner {
    max-width: 100%;
    padding: 0 20px;
  }

  .logo-container {
    margin-right: 10px;
  }

  .hero-image {
    max-width: 100%;
  }

  /* .hero-content {
    max-width: 90%;
    margin: 30%;
    height: 100vh;
  } */

  .hero-overlay {
    max-width: 100%;
    padding: 100px 20px;
  }

  .hero-text-container {
    max-width: 100%;
  }

  .hero-heading,
  .hero-subheading {
    max-width: 100%;
    padding: 0 20px;
  }

  /* .main-title {
    max-width: 100%;
    font: 300 40px Alexandria, sans-serif;
  } */

  .product-showcase {
    padding-right: 20px;
    margin-top: 40px;
    white-space: initial;
  }

  .product-overlay {
    white-space: initial;
    padding: 100px 20px;
  }

  .product-name {
    white-space: initial;
    padding: 0 20px;
  }

  /* .image-grid {
    max-width: 100%;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
  } */

  .image-row {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .image-column {
    width: 100%;
  }

  .grid-image {
    max-width: 100%;
    margin-top: 40px;
  }

  .separator {
    max-width: 100%;
    margin-top: 40px;
  }

  .footer {
    max-width: 100%;
    padding: 100px 20px;
  }

  .footer-content {
    max-width: 100%;
    margin-bottom: 10px;
  }

  .footer-heading {
    margin-left: 9px;
  }
}
